*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lora', serif;
}

.header{
    width: 100%;
    height: 780px;
    background: black;
    color: white;
}

h1{
    padding-top: 150px;
    text-align: center;
    font-size: 65px;
}

h3{
    padding-top: 35px;
    text-align: center;
    font-size: 40px;
}

.steve-pic{
    width: 100%;
    height: 500px;
    background: white;
    color: black;
}

.Biography{
    width: 100%;
    background: black;
    color: white;
    padding-bottom: 60px;;
}

.bio-center{
    width: 50%;
    margin: 0 auto;
}

.bio{
    text-align: left;
    font-size: 80px;
}

.para{
    margin-top: 50px;
    font-size: 30px;
    line-height: 1.3;
    padding-bottom: 90px;
}

.footer{
    margin-top: 50px;
    border-top: 1px solid white;
    width: 60%;
    margin: 0 auto;
}

.f-text{
    text-align: center;
    font-size: 20px;
    margin-top: 60px;
}

.f-text a{
    color: #1EAEDB;
}

.f-text a:hover{
    color: #042d44;
}



